
<section class="ov-hidden pt-5 pb-5 bg-dark position-relative" style="min-height:100vh; background-image: url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80); background-size: cover;">
	
	<video playsinline="" autoplay="true" muted="true" loop="true" poster="http://casagiacometti.com/photo/facade.JPG" id="bgvid">
		<source src="https://static.videezy.com/system/resources/previews/000/040/325/original/190912HUDCircle003.mp4" type="video/webm">
	</video>

	<div class="bg-overlay"></div>

	<div class="container pt-5 pb-5 position-relative">
		<div class="row d-flex justify-content-between pt-lg-5 align-items-center">
			<div class="col-xl-5 col-lg-6 col-md-7 text-center text-lg-left mb-5 mb-lg-0">
				<h2 class="display-4 font-weight-bold text-white" data-aos="fade-up">Venha aprender ou ensinar programação</h2>
				<div class="my-4" data-aos="fade-up">
					<p class="lead text-white">Ajude alguém a aprender programação ou aprenda a programar com um mentor.</p>
				</div>
				<div class="d-flex justify-content-center justify-content-lg-start" data-aos="fade-up">
					<div class="d-flex mr-2">

						<%= icon('fab', 'html5', class: 'fa-lg text-warning m-1') %>

						<%= icon('fab', 'css3-alt', class: 'fa-lg text-warning m-1') %>

						<%= icon('fab', 'sass', class: 'fa-lg text-warning m-1') %>

						<%= icon('fab', 'js', class: 'fa-lg text-warning m-1') %>

						<%= icon('fab', 'node', class: 'fa-lg text-warning m-1') %>

						<%= icon('fab', 'angular', class: 'fa-lg text-warning m-1') %>

						<%= icon('fab', 'react', class: 'fa-lg text-warning m-1') %>

						<%= icon('fab', 'vuejs', class: 'fa-lg text-warning m-1') %>

						<%= icon('fas', 'meteor', class: 'fa-lg text-warning m-1') %>						

						<%= icon('fab', 'php', class: 'fa-lg text-warning m-1') %>						

						<%= icon('fab', 'laravel', class: 'fa-lg text-warning m-1') %>

						<%= icon('fas', 'database', class: 'fa-lg text-warning m-1') %>

						<%= icon('fab', 'swift', class: 'fa-lg text-warning m-1') %>

						<%= icon('fab', 'apple', class: 'fa-lg text-warning m-1') %>

						<%= icon('fab', 'java', class: 'fa-lg text-warning m-1') %>

						<%= icon('fab', 'android', class: 'fa-lg text-warning m-1') %>

					</div>

				</div>
			</div>
			<div class="col">
				<div class="row justify-content-center">
					<div class="col-xl-8 col-md-10">
						<form class="position-relative d-block" data-aos="fade-up">
							<div class="form-group">
								<label class="text-white" for="course-name-1">Nome</label>
                				<input name="course-name" id="course-name-1" type="text" class="form-control form-control-lg" placeholder="Nome completo">
							</div>
							<div class="form-group">
								<label class="text-white" for="course-email-1">E-mail</label>
                				<input name="course-email" id="course-email-1" type="email" class="form-control form-control-lg" placeholder="email@exemplo.com">
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-12">
										<div class="form-group mb-1">
											<label class="text-white">Nível de conhecimento</label>
										</div>
									</div>
									<div class="col">
										<div class="form-group rounded bg-white p-2 border">
											<div class="custom-control custom-radio">
												<input type="radio" id="course-radio-beginner-1" name="course-radio-1" class="custom-control-input">
												<label class="custom-control-label" for="course-radio-beginner-1">Aprendiz</label>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="form-group rounded bg-white p-2 border">
											<div class="custom-control custom-radio">
												<input type="radio" id="course-radio-advanced-1" name="course-radio-1" class="custom-control-input">
												<label class="custom-control-label" for="course-radio-advanced-1">Desenvolvedor</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group text-center">
								<button class="btn btn-lg btn-info active btn-block mb-2" type="submit">Faça seu cadastro</button>
								<small class="text-white">Quem ensina também está aprendendo.</small>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<section class="pt-5 pb-5 bg-light" style="">
	<div class="container  pt-5 pb-5">
		<div class="row d-flex justify-content-between">
			<div class="col-md-6">
				<h3 class=" display-4 font-weight-bold" data-aos="fade-up">Crie seus prórios sites e aplicativos</h3>
				<p class="lead mt-4" data-aos="fade-up">Aprenda com programadores que já conhecem o mercado e tem experiencia no assunto.</p>
				<div class="row row-grid">
					<div class="col-xs-4 col-md-4 my-1 " data-aos="fade-up">
						<img src="https://via.placeholder.com/150x45/ccc/ffffff&text=IMG LOGO" alt="" class="img-fluid">
					</div>
					<div class="col-xs-4 col-md-4 my-1" data-aos="fade-up">
						<img src="https://via.placeholder.com/150x45/ccc/ffffff&text=IMG LOGO" alt="" class="img-fluid">
					</div>
					<div class="col-xs-4 col-md-4 my-1" data-aos="fade-up">
						<img src="https://via.placeholder.com/150x45/ccc/ffffff&text=IMG LOGO" alt="" class="img-fluid">
					</div>
				</div>
			</div>
			<div class="col-md-5" data-aos="fade-up">
				<div id="carouselExampleTestimonials" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						 
						<div class="carousel-item active">
							<div class="container-fluid">
								<div class="row   justify-content-center d-flex  ">
									<div class="col-md-12  card px-5 text-dark py-5">
				
										<blockquote class="blockquote blockquote-reverse mt-4">
											<p class="lead font-weight-bold mt-2">"Apenas aprendi a programar pois alguém me deu a oportunidade".</p>
											<div class="mt-3 d-flex align-items-center pt-2">
												<div class="mr-3">
													<img class="d-block img-fluid rounded-circle" src="https://via.placeholder.com/40x40/5fa9f8/ffffff " srcset="https://via.placeholder.com/120x120/5fa9f8/ffffff 2x" alt="user">
												</div>
												<div class="d-block">
													<p class="mb-0">Rafael Carvalho</p>
													<p class="small">Programador</p>
												</div>
											</div>
										</blockquote>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>






<section class="mb-0 mt-0">
	<div class="footer text-white">
		<div class="   bg-dark pt-5 pb-5">
			<div class="container">
				<div class="row mb-5">
					<div class="col">
						<div class="card card-body border-0 mb-0 bg-info text-light px-md-5 py-md-4 shadow-lg" style="overflow:hidden" data-aos="zoom-out-down">
							<div class="position-relative d-flex flex-column py-md-2 flex-md-row justify-content-between align-items-center">
								<div class="h3 text-center mb-md-0">Comece a programar hoje mesmo...</div>
								<a href="/users/new" class="btn btn-lg btn-light py-md-3 px-md-5 text-info font-weight-bold">
									QUERO COMEÇAR !!!
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-3">
						<a href="#">
 							<%= icon('fas', 'laptop-code', class: 'fa-3x') %>
						</a>
						<address class="color-light-20">
							<b>aprendizDEV</b>
							<br> São José do Rio Preto - SP
						</address>
						<ul class="list-unstyled list-light">
							<li>
								<a href="#">Disclaimer</a>
							</li>
						</ul>
					</div>
					<div class="col-xs-6 col-sm-3">
						<h4 class="my-2">Repositórios</h4>
						<ul class="list-unstyled list-light">
							<li>
								<a href="#">GitHub</a>
							</li>
							<li>
								<a href="#">Codepen</a>
							</li>							
							<li>
								<a href="#">Plunker</a>
							</li>
							<li>
								<a href="#">Bootsnip</a>
							</li>
						</ul>
					</div>
					<br style="clear:both" class="hidden-sm-up">
					<div class="col-xs-6 col-sm-3">
						<h4 class="my-2">Cursos On-line</h4>
						<ul class="list-unstyled list-light">
							<li>
								<a href="#">Alura</a>
							</li>
							<li>
								<a href="#">Udemy</a>
							</li>
							<li>
								<a href="#">Instituto Tim</a>
							</li>
							<li>
								<a href="#">Curso em vídeo</a>
							</li>
			 
						</ul>
					</div>
					<div class="col-xs-6 col-sm-3">
						<h4 class="my-2">Suporte</h4>
						<ul class="list-unstyled list-light">
							<li>
								<a href="#">Dúvidas</a>
							</li>
							<li>
								<a href="#">Sugestões</a>
							</li>
							<li>
								<a href="#">Comunidade</a>
							</li>
						</ul>

					</div>
				</div>
				<hr>
				<div class="row f-flex justify-content-center" style="">
					<div class="col text-center  text-secondary my-1">
						<p class="mt-2  text-white"> 
							© Copyright 2019 • Todos os direitos reservados
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>