<div class="container mt-5 mb-5">
  	<div class="row container-user">
    	<div class="col-sm-3 img">

    		<a href="/users/<%= session[:user_id] %>/edit">
      			<img src="<%= avatar(@user) %>"  alt="" class="img-thumbnail rounded" >
      		</a>
    	</div>
    	<div class="col-sm-6 details">
      		<blockquote>
      			<br>
        		<h5>Olá, <%= @user.nome %></h5>
        		<small>
        			<cite title="Source Title"> 
        				<i class="fas fa-map-marker-alt"></i> <%= @user.location.cidade %> - <%= @user.location.estado %>  
        			</cite>
        		</small>
      		</blockquote>
      		<p>
        		<%= @user.username %> <br>

            <% if @user.repositorio %>
        		  <a href="<%= @user.repositorio %>" target="_blank"> <%= @user.repositorio %> </a> <br>
            <% end %>

        		<%= age(@user.nascimento) %> anos
      		</p>
    	</div>
    </div>
    <br>
 
	<% if @lista_usuarios.size > 0 %>

		<h5><%= msg_resultado(@user, @lista)  %></h5>

    <button class="btn btn-danger">
    </button> *As linguagens em vermelho são os interesses em comum 
    <br>
    <br>

    <% if @lista == 'linguagem' %>
      <a class="btn btn-primary" href="/users/home">Buscar pela localidade </a>      
    <% else %>
      <a class="btn btn-primary" href="/users/home?lista=linguagem">Buscar pelas linguagens</a>    
    <% end %>

		<br>
    <br>
    <%= pagy_bootstrap_nav(@pagy).html_safe %>
    <br>

		<% @lista_usuarios.each do |u| %>

			<div class="card border-dark mb-5 shadow-lg rounded" >

			  	<div class="card-header">
            <div class="info-box float-left">
              <div class="thumb">
                <img src="<%= avatar(u) %>" alt="Avatar" class="rounded">
              </div>
              <h4 class="name"><%= u.nome %></h4>
              <span class="designation">
                <%= age(u.nascimento) %> anos, mora em <%= u.location.cidade %> - <%= u.location.estado %>
              </span>
            </div>

            <div class="float-right">

              <% if @user.dev? %>

                <%= link_to "<i class='fas fa-hands-helping'></i> Quero ajudar".html_safe, new_classroom_path(:dev_id => @user.id, :aprendiz_id => u.id), class: "btn btn-primary" %>

              <% else %>

                <button class="btn btn-primary">
                  <i class="far fa-question-circle"></i> Solicitar ajuda
                </button>

              <% end %>
              
            </div>
          </div>

			  	<div class="card-body text-dark">

            <% if u.descricao %>
              <h5 class="card-title">Descrição</h5>
			    	  <p class="card-text"><%= u.descricao %></p>
            <% end %>

            <% if u.repositorio %>
              <h5 class="card-title">Repositório </h5>
              <p class="card-text">
                <a href="<%= u.repositorio %>" title="Repositório" target="_blank"><%= u.repositorio %></a>
              </p>
            <% end %>

			    	<h5 class="card-title">Linguagens</h5>
			    	<p class="card-text">

              <% if u.languages.size > 0 %>

  			    		<% u.languages.each do |linguagem| %>

  			    			<% if @linguagens_user.include? linguagem.id %>

  				    			<button class="btn btn-outline-danger">
  				    				<strong><%= linguagem.nome %></strong> 
  				    			</button>

  				    		<% else %>

  				    			<button class="btn btn-outline-primary">
  				    				<%= linguagem.nome %> 
  				    			</button>

  				    		<% end %>
  			    		<% end %>
              <% else %>

                <div class="alert alert-primary">
                    <h6>Nenhuma linguagem encontrada</h6>
                </div>
              <% end %>

			    	</p>
			  	</div>
			</div>

		<% end %>

    <%= pagy_bootstrap_nav(@pagy).html_safe %>

	<% else %>

		<h3>Nenhum usuário foi encontrado nessa localidade.</h3>
		<br>
		<a class="btn btn-primary" href="/locations/<%= session[:user_id] %>/edit">Trocar minha localização</a>  <span class="badge">ou</span> 

    <a class="btn btn-primary" href="/users/home?lista=linguagem">Buscar pelas linguagens</a> 

	<% end %>

	<br>
	<br>
	<br>
	<br>

</div>

<style type="text/css">

	body {
		background-color: #f2f2f2;
	}
	
	.container-user .img{
	    text-align:center;
	}
	.container-user .details{
	    border-left:3px solid #ded4da;
	}
	.container-user .details p{
	    font-size:15px;
	    font-weight:bold;
	}	

</style>