<div class="main-w3layouts wrapper">

	<h1 style="font-size: 25px; font-weight: bold;"> CADASTRAR </h1>

	<div class="main-agileinfo">
		<div class="agileits-top">
			<%= form_for @user do |f| %>

				<%= f.text_field :nome , placeholder: "Digite seu nome", class: 'input-sign text', :required => true %>

				<%= f.text_field :username , placeholder: "Digite o e-mail", class: 'input-sign text', :required => true %>

				<%= f.password_field :password , placeholder: "Digite a senha", class: 'input-sign text', :required => true %>

				<label style="color: white;">Nascimento</label> <br>
				<%= f.date_field(:nascimento) %> <br><br>

			    <%= f.radio_button :tipo, "Desenvolvedor", :checked => true %>
			    <%= f.label :tipo, "Desenvolvedor", :value => "Desenvolvedor", class: "label-sign"  %>  &nbsp;

			    <%= f.radio_button :tipo, "Aprendiz" %> 				    
			    <%= f.label :tipo, "Aprendiz", :value => "Aprendiz", class: "label-sign" %> <br><br>
				
			  	<div class="form-group">
			    	<label style="color: white;">Imagem do perfil</label>
			    	<%= f.file_field :avatar, class: "form-control-file"  %>
			  	</div>

			  	<br><br>

				<div class="wthree-text">
					<label class="anim">
						<input type="checkbox" class="checkbox" required="">
						<span>Eu aceito os termos e condições</span>
					</label>
					<div class="clear"> </div>
				</div>

				<%= f.submit "ENVIAR", class: "btn-sign" %>
				
			<%end%>

			<p>
				Já tem uma conta? <br> <a href="/login"> Clique aqui para entrar</a>
			</p>

		</div>
	</div>

	<ul class="colorlib-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

<style>
 
	body {
	  background: #007a99 ;
	  background: -webkit-linear-gradient(to top, #007a99 , #00a3cc);
	  background: -moz-linear-gradient(to top, #007a99 , #00a3cc);
	  background: -o-linear-gradient(to top, #007a99 , #00a3cc);
	  background: linear-gradient(to top, #007a99 , #00a3cc);
	  background-size: cover;
	  background-attachment: fixed;
	  font-family: 'Roboto', sans-serif;
	}

	h1 {
	  font-size: 3em;
	  text-align: center;
	  color: #fff;
	  font-weight: 100;
	  text-transform: capitalize;
	  letter-spacing: 4px;
	  font-family: 'Roboto', sans-serif;
	}

	.form-control-file {
		color: white;
	}

</style>