
<section class="contact mt-5" id="contact">
    <div class="container">
        <div class="heading text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <h2>
                <span>Entre em</span> contato
            </h2>
            <p>Fique a vontade para enviar suas duvidas e sugestões, responderemos o mais rápido possível.</p>
        </div>
        <div class="main wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="row">
                <div class="col-lg-8 left">
                    <h3>Enviar mensagem</h3>

                     <% if flash[:notice] %> 
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong><%= flash[:notice] %></strong>    
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <% end %> 

                    <%= form_for @contact do |f| %>
                        <div class="row">
                            <div class="col-sm-6">
                                <%= f.text_field :nome , placeholder: "Digite seu nome", class: 'form-control', :required => true %>
                            </div>
                            <div class="col-sm-6">
                                <%= f.text_field :email , placeholder: "Digite o e-mail", class: 'form-control', :required => true %>
                            </div>
                        </div>
                        <div class="form-group">
                            <%= f.text_field :mensagem , placeholder: "Digite a mensagem", class: 'form-control', :required => true %>
                        </div>

                        <%= f.submit "ENVIAR", class: "btn btn-block btn-contact" %>

                    <%end%>



                </div>
                <!-- Left -->
                <div class="col-lg-4">
                    <div class="right">
                        <h4>Informações</h4>
                        <div class="info d-flex align-items-center">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>São José do Rio Preto - SP </span>
                        </div>
                        <div class="info d-flex align-items-center">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            
                            <span>+55 (17) 98224-5938
                               </span>
                        </div>
                        <div class="info d-flex align-items-center">
                            <i class="fas fa-at" aria-hidden="true"></i>                            
                            <span>contato@aprendizdev.com
                              </span>
                        </div>
                        <div class="social">
                            <a href="#0">
                                <i class="fab fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="#0">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="#0">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style type="text/css">
        

    .contact {
        padding-bottom: 100px;
    }
    .contact .heading {
        margin-bottom: 50px;
    }
    .contact .heading h2 {
        font-size: 30px;
        font-weight: 700;
        color: #404356;
        margin: 0;
        margin-bottom: 15px;
    }
    .contact .heading h2 span {
        color: #007a99;
        font-weight: 300;
    }
    .contact .heading p {
        font-size: 14px;
        font-weight: 400;
        color: #525f7f;
        line-height: 26px;
        margin: 0;
    }
    .contact .main {
        background: #ffffff;
        box-shadow: 1px 1px 20px 0 rgba(0,0,0,0.08);
    }
    .contact .main h3 {
        font-size: 20px;
        font-weight: 500;
        color: #4a545e;
        margin: 0;
        margin-bottom: 20px;
    }
    .contact .form-control {
        padding: 25px;
        font-size: 13px;
        margin-bottom: 10px;
        background: #f8f8f9;
        border: 0;
        border-radius: 5px;
    }
    .btn-contact  {
        padding: 10px;
        border-radius: 5px;
        font-size: 15px;
      background: -webkit-linear-gradient(to top, #007a99 , #00a3cc);
      background: -moz-linear-gradient(to top, #007a99 , #00a3cc);
      background: -o-linear-gradient(to top, #007a99 , #00a3cc);
      background: linear-gradient(to top, #007a99 , #00a3cc);
      background-size: cover;
        color: #ffffff;
    }

    .contact .main .left {
        padding: 40px 60px;
    }
    .contact .main .right {
        background:#007a99;
        background-size: cover;
        padding: 40px;
        color: #ffffff;
        height: 100%;
    }
    .contact .main .right h4 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .contact .main .right .info {
        margin-bottom: 35px;
    }
    .contact .main .right .info i {
        font-size: 25px;
        color: #ffffff;
    }
    .contact .main .right .info span {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-left: 15px;
    }
    .contact .main .right .social a {
        text-decoration: none;
        font-size: 30px;
        color: #ffffff;
        margin-right: 20px;
    }

</style>